nav{
    background:#fff;
    position: fixed;
    height: 100vh;
    width:90px;
    border-right:1px solid #ccc;
    text-align: center;
    display: block;
}
li{
    border-radius:50%;
    background:#ccc;
    height: 50px;
    width:50px;
    display: block;
    margin:4px auto;
    
}